{% extends "base.htm" %}

{% block pagetitle %}{{ title }}{% end %}

{% block contents %}
<h1 id=articletitle>{% if 'last_update' in articleInfo %}{% raw articleInfo['title'] %}{% end %}</h1>
{% if 'last_update' in articleInfo %}<span id=articleLastUpdate>Last updated:{{ articleInfo['last_update'] }}</span>{% end %}
{% raw md_html %}
    {% try %}
    {% if commentinfo %}
<!--Comment Area-->
<div id="disqus_thread"></div>
<script>
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = "{{ commentinfo['jsaddr'] }}";
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<!--Comment End-->
        {% end %}
        {% except %}
    {% end %}
{% end %}
