# Field name: debug
# Type: bool
# Default Value: False
# Production Value: False
# Development Value: True
# Usage:
#   Turn on this flag to make the tornado.web able to run under debug mode.
#debug=False

# Field name:port
# Type:int
# Default Value:80
# Usage:
#   Indicates the port on which tornado will be listened.
#port=80

# Field name:addr
# Type: string
# Default Value:"127.0.0.1"
# Usage
#   Indates the address on which tornado will be listened.
#addr="127.0.0.1"

# Field name:compress_response
# Type:bool
# Default Value:False
# Usage:
#   Open it if you want to compress the response.
#compress_response=False

# Field name:config_file
# Default Value:"config.ini"
# Usage:
#   Define the name and/or location of the config file.
#config_file="config.ini"

# Field name:document_location
# Default Value:"documents"
# Usage:
#   Redefine the location of your documents. DO NOT ADD SLASHES AFTER YOUR LOCATION!
#document_location="documents"

# Field name:domain
# Default Value:"localhost"
# Usage:
#   The URL displayed on your website.
#domain="localhost"

# Field name:comment
# Default Value:False
# Usage:
#   Whether you want to turn comment on. Use disqus as default.
#comment=False

# Field name:comment_js
# Default Value:"none"
# Usage:
#   Place "s.src" in disqus comment script
#comment_js="//xxxx.disqus.com/embed.js"