我们都将走向焚尸炉/都将焚烧<br>但我们绝不会/从我们的信念后退<br>——瓦维诺夫
知其道，用其妙，<br>This is how.<br>——<a href="http://weibo.com/1401527553/E1dL0ckEV?ref=home&rid=0_0_1_2669678819979565887">西门子</a>
"Are you ready?"<br>"For what?"<br>"To end ALL of this."
Love never dies a natural death.<br>It dies of blindness and errors and betrayals. It dies of weariness, of witherings, of tarnishings.<br>- Anais Nin
不要总想着搞个大新闻！<br>——[数据删除]<br>
When you look long into an abyss, the abyss looks into you.<br>- Nietzschea<br>
